* {
  padding: 0;
  margin: 0;
}

body,
html,
.app {
  height: 90%;
  width: 100%;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app > * {
  margin: 1rem;
}
